@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
}

:root {
  /* Colors - Primary */
  --clr-primary-green-200: hsl(148, 38%, 91%);
  --clr-primary-green-600: hsl(169, 82%, 27%);
  --clr-primary-red-400: hsl(0, 66%, 54%);

  /* Colors - Neutral */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(186, 15%, 59%);
  --clr-neutral-900: hsl(187, 24%, 22%);

  /* Font Families */
  --ff-base: "Karla", sans-serif;

  /* Font Sizes */
  --fs-xs: calc(12 / 16 * 1rem);
  --fs-sm: calc(14 / 16 * 1rem);
  --fs-base: calc(16 / 16 * 1rem);
  --fs-md: calc(18 / 16 * 1rem);
  --fs-lg: calc(20 / 16 * 1rem);
  --fs-xl: calc(24 / 16 * 1rem);
  --fs-2xl: calc(32 / 16 * 1rem);
  --fs-3xl: calc(48 / 16 * 1rem);
  --fs-4xl: calc(64 / 16 * 1rem);

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Margin / Padding Spaces */
  --space-3xs: ; /*  */
  --space-2xs: ; /*  */
  --space-xs: ; /*  */
  --space-sm: ; /*  */
  --space-md: ; /*  */
  --space-lg: ; /*  */
  --space-xl: ; /*  */
  --space-2xl: ; /*  */
  --space-3xl: ; /*  */

  /* Space One-Step-Up pairs */
  --space-3xs-2xs: ;
  --space-2xs-xs: ;
  --space-xs-sm: ;
  --space-sm-md: ;
  --space-md-lg: ;
  --space-lg-xl: ;
  --space-xl-2xl: ;
  --space-2xl-3xl: ;
}

/* ******** RESET ******** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* ******** GENERAL STYLES ******** */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  background-color: var(--clr-primary-green-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: none;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin-inline-end: 0.5rem;
}

label + input:not([type="radio"], [type="checkbox"]),
label + textarea {
  display: block;
}

.form-group:has(input:required) label:after,
.form-group:has(textarea:required) label:after,
fieldset:has(input:required) legend:after {
  content: " * ";
  font-size: 0.8em;
  color: var(--clr-primary-red-400);
}

/* ******** COMPOSITION / LAYOUT ******** */
.wrapper {
  max-inline-size: 70em;
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flex-flow {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid-flow {
  --column-count: 1;
  --column-size: 1fr;
  --column-template: repeat(var(--column-count, 1), var(--column-size, 1fr));

  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: var(--column-template);
}

.grid-auto {
  --min-col-size: 200px;
  --item-placement: auto-fit;

  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: repeat(var(--item-placement), minmax(min(var(--min-col-size), 100%), 1fr));
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.place-center {
  align-items: center;
  justify-content: center;
}

/* ******** UTILITIES ******** */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

.error {
  display: block;
  color: var(--clr-primary-red-400);
}

.bg-100 {
  background: var(--clr-neutral-100);
}

/* ******** COMPONENTS ******** */

/* ******** BLOCK STYLE ******** */

/* ******** EXCEPTIONS ******** */
